In [42]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
import spacy
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression, Ridge, Lasso
from sklearn.model_selection import train_test_split
nlp= spacy.load("en_core_web_sm")

In [2]:
url = "https://raw.githubusercontent.com/alexisperrier/intro2nlp/master/data/brown_corpus_extract_humor_science_fiction.csv"
df = pd.read_csv(url)
print(df.topic.value_counts())

humor              1052
science_fiction     948
Name: topic, dtype: int64

In [7]:
def lemma(text):
    doc=nlp(text)
    rs = [txt.lemma_.lower() for txt in doc if not (txt.is_stop or txt.is_punct) ]
    return " ".join(rs)

In [11]:
df["txt"]= df.text.apply(lemma)

In [12]:
df

,topic,text,txt
0,humor,"They were always leaping to light cigarettes, ...",leap light cigarette open car door fill plate ...
1,science_fiction,"No, the fish could eat their bodies for all th...",fish eat body sturch care
2,science_fiction,"Fighting pleasure itself, he begged B'dikkat t...",fighting pleasure beg b'dikkat check record te...
3,science_fiction,that is all I can tell you about them.,tell
4,humor,"That's one thing I've never done , she said p...",thing say promptly
...,...,...,...
1995,humor,A news item described the launching of a ship ...,news item describe launching ship complete ...
1996,science_fiction,"Time stood still for these people, and their l...",time stand people load pleasure commingled sho...
1997,science_fiction,What shall we do with this one??,shall
1998,science_fiction,"But, from our reading of the Western Talmud, w...",reading western talmud urielite believe foreru...
1999,science_fiction,The Lady Da forced the foremost of her bodies ...,lady da force foremost body upright position

In [14]:
lb=LabelEncoder()
cv= CountVectorizer()

In [21]:
fitlb= lb.fit(df.topic.values)
y= fitlb.transform(df.topic.values)
x= cv.fit_transform(df.txt)

In [37]:
xtrain, xtest, ytrain, ytest= train_test_split(x, y, test_size=0.35)

In [38]:
mn=MultinomialNB()

mn.fit(xtrain, ytrain)

yhat= mn.predict(xtest)

In [40]:
acc=accuracy_score(ytest, yhat)
acc

0.7642857142857142

In [41]:
svc= SVC()
svc.fit(xtrain, ytrain)
yh= svc.predict(xtest)

acc2= accuracy_score(ytest, yh)
acc2

0.7042857142857143

In [43]:
lr = LogisticRegression()
lr.fit(xtrain, ytrain)
yh = lr.predict(xtest)

accuracy_score(ytest, yh)

0.7728571428571429